.form-group svg {
  font-size: 1.2em;
}
.form-group button {
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 18px;
}
.form-group::placeholder {
  letter-spacing: 0.1em;
}
.formulario .icone svg {
  margin-top: -20px;
  font-size: 60px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid #333;
}

button[type="button"]:hover svg {
  color: #fff;
}
